@font-face {
    font-family: 'Dancing Script';
    src: url('../font/DancingScript-Regular.woff2') format('woff2'),
        url('../font/DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../font/DancingScript-Medium.woff2') format('woff2'),
        url('../font/DancingScript-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../font/DancingScript-Bold.woff2') format('woff2'),
        url('../font/DancingScript-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../font/DancingScript-SemiBold.woff2') format('woff2'),
        url('../font/DancingScript-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

